In [1]:
def test(a,b):
  '''This is my function for concatenation or addition'''   #Creating a docstring/instruction for function-->Better to have this
  return a + b

test(3,4)

7

In [2]:
test(a=6,b=3) #You can give a = and b = : Same thing

9

In [3]:
test(b=45,a=3) #Order doesnt matter

48

In [ ]:
test()   #-->Shift Tab will give me the instructions/docstring that we created in function

In [4]:
def test1(a,b,c,d,e) :
  return a,b,c,d,e

test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [5]:
test1(1,2,3,4) #Number of arguments less or more then error

TypeError: ignored

In [6]:
#Lets solve the above situation
def test(*a):   #Asterisk of a means any number of parameters
 return a

test(1,2,3,4,67,890)  #This works perfectly: Independent of number of argument

(1, 2, 3, 4, 67, 890)

In [7]:
def test5(*a):   
  l = []
  for i in a:
    l.append(i)
  return l

test5(2,3,4,5,45,5,[345,56,6,5])

[2, 3, 4, 5, 45, 5, [345, 56, 6, 5]]

In [8]:
def test6(a,b,c,d,*m):
  return a,b,c,d,m

test6(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, (5, 6, 7, 8, 9))

In [9]:
def test7(*m,a,b,c,d):   #Will get error because it it taking *m as all and nothing is left for a,b,c,d
  return a,b,c,d,m

test7(1,2,3,4,5,6,7,8,9)

TypeError: ignored

In [10]:
#Solution for above
test7(1,2,3,4,5,a = 6,b = 7,c = 8,d = 9)

(6, 7, 8, 9, (1, 2, 3, 4, 5))

In [11]:
def test8(**sudh):  #For double asterisk, expecting dictionary kind of object otherwise error
  return sudh

test8(4,5,6,6)

TypeError: ignored

In [12]:
test8(b=4,c=5,d=4,e=7)

{'b': 4, 'c': 5, 'd': 4, 'e': 7}

In [13]:
def test9(*m,**s):  
  return m,s

test9(345,56,78,56,b=4,c=6,d=7,g=9)

((345, 56, 78, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [14]:
def test10(*m):
  n = 1
  for i in m:
    if type(i) == int:
      n = n * i
  return n

test10(1,2,3,4,5,6,'m',123)

88560

In [15]:
#Lambda Function Concept (Anonymous/Inline Function): lambda is a reserved keyword: Anonymous function because there is no name
n = lambda a,b : a + b #Will become clumsy if the logic is complex
n(4,5)

9

In [16]:
b = lambda *sudh : sudh
b(45,4,5,6,3)

(45, 4, 5, 6, 3)

In [17]:
#Comprehension Option
t = (3,4,4,55,55,6,7)
[i for i in t]

[3, 4, 4, 55, 55, 6, 7]

In [18]:
s = 'sudh'
[i for i in s]

['s', 'u', 'd', 'h']

In [19]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
l = lambda *x : [i for i in x ]
l(4,45,6,7,8,9,13)

[4, 45, 6, 7, 8, 9, 13]

In [21]:
l = lambda *x : [i**2 for i in x ]
l(4,45,56,78,9)

[16, 2025, 3136, 6084, 81]

In [24]:
def test14(**kwargs):
  count = 0
  for v in kwargs.values():
    if type(v) == str:
      count = count + 1
    if type(v) == list:
      for i in v:
        if type(i) == str:
          count = count + 1
  return count

test14(a=7,b=4,c='sudh',l=[2,3,4,5,'sudh','abc','type'])

4