SUBMITTED BY: GAURAV RATAN

Todays task :
    
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file

Q1: Try to print a prime number in between 1 to 1000

In [2]:
for number in range(1, 1001):
   # all prime numbers are greater than 1
   if number > 1:
       for i in range(2, number):
           if (number % i) == 0:
               break
       else:
           print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Q2 : Try to write a function which  is equivalent  to print function in python

In [29]:
import sys 
def my_print(content):
  sys.stdout.write(content)

my_print("Gaurav")

Gaurav

Q3 : Try to write a function which is a replica of list append , extend and pop function

In [33]:
#Replica of Append
list=[]

def my_append(entries):
  for i in range(entries):
    n=eval(input())
    j=len(list)
    list.insert(j,n)
  return list

my_append(4)

1
2
3
'str'

[1, 2, 3, 'str']

In [38]:
#Replica of Extend


def my_extend(list,n):
  for x in n:
    j=len(list)
    list.insert(j,x)
  return list

my_extend([4,6,7],eval(input("enter list for extend")))

enter list for extend14,25,'str'

[4, 6, 7, 14, 25, 'str']

In [36]:
#Replica of Pop (Removes last index)

def my_pop(list1):
  list1.remove(list1[len(list1)-1])
  return list1

my_pop([4,5,6,100,86])

[4, 5, 6, 100]

Q4 : Try to write a lambda function which can return a concatenation of all the string that we will pass

In [8]:
#Approach 1
from functools import reduce
lst = ['abc','rtg','types']
reduce(lambda x,y: x+y,lst)

'abcrtgtypes'

In [9]:
#Approach 2 (Better Approach)
args=('abc',77,'xyz',1,2,3)
print(''.join(list(filter(lambda x:type(x)==str,args))))

abcxyz

Q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [11]:
lst = list(range(1, 101))
print(list(map(lambda x:x*x, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

Q6 : Try to write a 10 Different different example of lambda function with a choice of your task

In [12]:
#1. Doubling 
double = lambda x: x * 2
print(double(5))

10

In [13]:
#2. Squaring in a given range
lst = list(range(1, 11))
print(list(map(lambda x:x*x, lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#3. Concatenation of all string
args=('abc',77,'xyz',1,2,3)
print(''.join(list(filter(lambda x:type(x)==str,args))))

abcxyz

In [15]:
#4. Product of all elements in a list
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

In [16]:
#5. Lambda with if-else
max = lambda a, b : a if(a > b) else b
print(max(100, 20))

100

In [21]:
#6. Sorting a list and getting second largest element
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
 
# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [23]:
#7. Odd Numbers from the list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [24]:
#8. Upper Case
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: str.upper(animal), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [25]:
#9. Lower Case
animals = ['DOG', 'CAT', 'PARROT', 'RABBIT']
lowered_animals = list(map(lambda animal: str.lower(animal), animals))
 
print(lowered_animals)

['dog', 'cat', 'parrot', 'rabbit']

In [26]:
#10. Cubing
lst = list(range(1, 11))
print(list(map(lambda x:x*x*x, lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Q7 : Try to wwrite a funtion which can perform a read operation from .txt file

In [28]:
def read(filename):
  f = open(filename,"r")
  if f.mode == "r":
    contents = f.read()
    print(contents)

read("Summary_Submissions.txt")

1. Just ran XGBoost model using Pycaret
2. Ran all the models using Pycaret (Adaboost) -->0.73 (But will this work on Private test dataset: Doubtful as we have not handled Imbalance dataset)
3. Ran all the models after handling imbalance dataset using Smote Oversampling (LightGBM) --> 0.68
4. Ran all the models after handling imbalance dataset using Smote Oversampling (LightGBM Tuned) --> 0.71
5. Used Created at and Signed Up Date for the first time by separating into Year,Month,Week,Day and Day of the week and followed same process as 4th approach
   (Extra Trees Classifier came as the best model)  --->0.71 score
6. Used Created at and Signed Up Date for the first time by separating into Year,Month,Week,Day and Day of the week and followed same process as 4th approach
   (Extra Trees Classifier came as the best model)-->Same as above but used tuned model -->0.65 score
7. Lets apply the date as above without balancing the dataset as we did in 2nd place (Best model: Adaboost) -->0.7257
8. Lets apply the date as above without balancing the dataset as we did in 2nd place (Adaboost Tuned Model) -->0.7299




Try this approach tomorrow:
9. Winning Solution of WNS Hackathon: Training is getting crashed   --> 0.727  v6 solution (XG Boost Not optimal parameters, Interaction terms used)
10. Tried feature interaction and feature selection in Pycaret (imbalance Dataset) --> 0.71
11. Same as above but used best model instead of tuned model  --> 0.70
12. Same as above: Used balance dataset, no feature selection, used tuned model