**WHILE LOOP IMPLEMENTATION**

In [1]:
a = 1
b = 10

while a <= b :
  print(a)
  a = a + 1

1
2
3
4
5
6
7
8
9
10

In [2]:
while a <= b :   #Because now 'a' value is 11
  print(a)
  a = a + 2
else :
  print("Print this else book")

Print this else book

In [3]:
a = 1
b = 10
while a <= b :   
  print(a)
  a = a + 2
else :
  print("Print this else book")

1
3
5
7
9
Print this else book

In [4]:
a = 1
b = 10
while a < b :   
  print(a)
  if a == 5:
    break     #If break encounters then it will not get to else block (Similar as for and else)
  a = a + 1
else :
  print("Print this ")

1
2
3
4
5

In [ ]:
a = 1
b = 10
while a < b :   
  print(a)  
  if a == 3:    #Infinite Loop  After continue is encountered, below statements will not be executed and loop will be executed again. Hence priniting 3 infinite times
    continue
  a = a + 1

In [6]:
a = 1
b = 10
while a < b :   
  a = a + 1
  if a == 3:    
    continue
  print(a)

2
4
5
6
7
8
9
10

In [7]:
a = 1
b = 10
while a < b :   
  a = a + 1
  if a == 3:    
    pass
  print(a)

2
3
4
5
6
7
8
9
10

In [8]:
l = [1,2,3,4,65,56]
for i in l :
 print(i)

1
2
3
4
65
56

In [10]:
l = [1,2,3,4,65,56]
len(l)
a = 0
while a < len(l):
  print(l[a])
  a = a + 1

1
2
3
4
65
56

In [16]:
#Try to extract index of 6 and 7 using while loop
t = (3,4,5,6,7,8,9,6)
a = 0
while a < len(t):
  
  if t[a] == 6:
    print(a)
  if t[a] == 7:
    print(a)
  a = a + 1

3
4
7

In [17]:
#Try to extract backward indexes of 6 and 7 using while loop
t = (3,4,5,6,7,8,9,6)
a = 0
while a < len(t):
  
  if t[a] == 6:
    print(a-len(t))
  if t[a] == 7:
    print(a-len(t))
  a = a + 1

-5
-4
-1

In [1]:
#Extracting all the values using while loop (For that we can do d.values() but we want to use loop. For that we need to pass keys as indexes)
d = {'k1':'sudh','k2':[1,2,3,4],'k3':(2,3,4,5)}
a = 0
b = list(d.keys())
while a < len(d):
  print(d[b[a]])
  a = a + 1

sudh
[1, 2, 3, 4]
(2, 3, 4, 5)

In [2]:
#InBuilf Functions we have used: len(), range(),print,keys(),values(),items(),append(),pop(),insert(),extend()

**FUNCTIONS**  (Reusability and Modularity of Code)

In [5]:
def test():
  print('This is my first function')

test() #Function Call

This is my first function

In [6]:
test() + 'sudh'

This is my first function

TypeError: ignored

In [8]:
type(test())

This is my first function

NoneType

In [9]:
str(test()) + 'sudh'   #We will solve this using next code

This is my first function

'Nonesudh'

In [10]:
def test():
  return 'This is my first function'

In [12]:
test() + ' sudh'   #This works because of return. Always use return instead of print. Different b/w print and return: Return type of print is None whereas return has return type specified in function

'This is my first function sudh'

In [13]:
def test2():  #Body not created then error

SyntaxError: ignored

In [14]:
def test2():
  pass

In [15]:
def test3():
  return 1,3,5,[1,2,3,4]

In [16]:
test3()   #If returning multiple things, then it will return in tuples

(1, 3, 5, [1, 2, 3, 4])

In [18]:
a,b,c,d = test3()
a

1

In [19]:
b

3

In [20]:
d

[1, 2, 3, 4]

In [21]:
def test4():
  a = 4*5
  b = 6+4
  return a,b

In [22]:
g = test4()
g

(20, 10)

In [26]:
j,k = test4()
k

10

In [28]:
_,m = test4()  #Underscore is also called as placeholder
_

20

In [30]:
_,_,_,g = test3()
g

[1, 2, 3, 4]

In [31]:
def test5(a,b):
  while a <= b :   #Because now 'a' value is 11
   print(a)
   a = a + 2
  else :
   print("Print this else book")

test5(1,10)

1
3
5
7
9
Print this else book

In [32]:
def test5(a,b):
  while a <= b :   #Because now 'a' value is 11
   return a
   a = a + 2
  else :
   return "Print this else book"

test5(1,10) #Giving output only as 1 but when we used print we got different output. In return, when it returns something then it will not return anything again. To solve this we can use list and return

1

In [33]:
def test5(a,b):
  l = []
  while a <= b :   #Because now 'a' value is 11
   l.append(a)
   a = a + 2
  else :
   print("Print this else book")
  return l

test5(1,10)

Print this else book

[1, 3, 5, 7, 9]

In [38]:
#Write a function that will extract integer out of the list

l2 = []
def int_l(l):
  for i in l:
    if type(i) == int:
      l2.append(i)
    if type(i) == list:
      for j in i:
        if type(j) == int:
         l2.append(j)
  return l2

int_l([4,5,6,67,8,9,9,9,[3,4,5,6,7,7],'sudh'])

[4, 5, 6, 67, 8, 9, 9, 9, 3, 4, 5, 6, 7, 7]

In [40]:
#Try to extract index of 6 and 7 using while loop by creating a function
def extract_6_7(t):
  a = 0
  while a < len(t):
    if t[a] == 6:
     print(a)
    if t[a] == 7:
     print(a)
    a = a + 1


extract_6_7((3,4,5,6,7,8,9,6))

3
4
7