In [ ]:
ASK SOLUTION: 24th July 2022
We have Attribute Dataset and Dress Sales Dataset. These are connected to each other based on Dress_ID. Perform the Following Task:

1.Create a Table of attribute dataset and dress dataset in mysql workbench/python
2.Do a bulk load for these 2 tables for respective dataset in mysql workbench/python
3.Read these datasets in pandas as a dataframe
4.Convert Attribute Dataset in JSON Format (.to_json will be used)
5.Store this json dataset into mongodb (Insert_many will be used)
6.In SQL task, try to perform left join operation with Attribute dataset and dress dataset on column Dress_ID
7.Write the SQL query to find out how many unique dress that we have based on Dress_ID
8.Try to find out how many dress is having recommendation as 0
9.Try to find out total dress sales for each and every Dress_ID
10. Try to find out the third highest most selling Dress_ID

In [ ]:
#Task 1 and Task 2 Done
#MySQL Code
show databases;
create database task;
use task;

#Creating table for Attribute Dataset
create table if not exists attribute_data_v1 (
dress_id int ,
style varchar(30) , 
price varchar(30) , 
rating decimal (2,1) ,
size varchar(30),
season varchar(30),
neckline varchar(30),
sleevelength varchar(30) , 
waiseline varchar(30) ,
material varchar(30) , 
fabrictype varchar(30) , 
decoration varchar(30) , 
patterntype varchar(30) , 
recommendation int
);


#Inserting Attribute Dataset Records
LOAD DATA INFILE '\Attribute DataSet.csv' INTO TABLE attribute_data_v1
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;

#Checking the data
select * from attribute_data_v1; #Coming Properly

#Creating table for Dress Sales
create table if not exists dress_sales_v1 (
dress_id int ,
`29/8/2013` int , 
`31/8/2013` int , 
`2/9/2013` int ,
`4/9/2013` int ,
`6/9/2013` int,
`8/9/2013` int,
`10/9/2013` int , 
`12/9/2013` int ,
`14/9/2013` int , 
`16/9/2013` int , 
`18/9/2013` int , 
`20/9/2013` int , 
`22/9/2013` int ,
`24/9/2013` int ,
`26/9/2013` int ,
`28/9/2013` int ,
`30/9/2013` int ,
`2/10/2013` int ,
`4/10/2013` int ,
`6/10/2013` int ,
`8/10/2013` int ,
`10/10/2013` int ,
`12/10/2013` int
);

#Inserting Attribute Dataset Records
LOAD DATA INFILE '\Dress Sales.csv' INTO TABLE dress_sales_v1
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;

select * from dress_sales_v1 #Coming Correctly

In [1]:
#Task 3
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [ ]:
#Task 3
import mysql.connector as connection
import pandas as pd


mydb = connection.connect(host = "Localhost", user = "root", passwd = "Useyourpwd", use_pure = True)
print(mydb)

#Run SQL
sql_query1 = pd.read_sql('select * from task.attribute_data_v1', mydb)
sql_query2 = pd.read_sql('select * from task.dress_sales_v1', mydb)


#Convert SQL to DataFrame
attribute_data = pd.DataFrame(sql_query1, columns = ['dress_id', 'style', 'price','rating','size','season','neckline',
                                        'sleevelength','waiseline','material','fabrictype','decoration',
                                        'patterntype','recommendation'])

dress_sales = pd.DataFrame(sql_query2, columns = ['dress_id','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013'])


print(attribute_data) #Coming Correctly
print(dress_sales) #Coming Correctly

In [ ]:
#Task 4
#Converting Attribute Dataset dataframe into json
attribute_data_json = attribute_data.to_json()

In [ ]:
#Task 5
#Storing JSON into MongoDB
import pymongo
import json
from pymongo import MongoClient, InsertOne
client = pymongo.MongoClient("mongodb+srv://jayanthik:Amma123@cluster0.hunum.mongodb.net/?retryWrites=true&w=majority") #Connectivity between python and MongoDB
db2 = client.test

#Creating Database
database = client['Task']
#Creating Collection/Document inside Database (Same as creating Tables inside Database in SQL Systems)
collection = database["Json"]
#Replacing single quotes with double quotes on attribute_data_json to make it valid json

print(attribute_data_json)

#Storing JSON Data into MongoDB
#Loading or Opening the json file
with open(r'C:\Users\kiit\PycharmProjects\Class 21_24th July 2022_Task\attribute_data.json') as file:
    file_data = json.load(file)

# Inserting the loaded data in the Collection
# if JSON contains data more than one entry
# insert_many is used else insert_one is used

if isinstance(file_data, list):
    collection.insert_many(file_data)
else:
    collection.insert_one(file_data)

In [ ]:
#Task 6
#Left Join with Attribute Dataset and Dress Sales Dataset

joined_data = pd.merge(attribute_data,dress_sales,how = 'left',on = 'dress_id')
print(joined_data)

In [ ]:
#Task 7
#Write the SQL query to find out how many unique dress that we have based on Dress_ID
import mysql.connector as connection
mydb = connection.connect(host = "Localhost", user = "root", passwd = "Useyourpwd", use_pure = True)
cursor = mydb.cursor()
cursor.execute("select count(distinct(dress_id)) from task.attribute_data_v1")
for i in cursor.fetchall():
  print(i) #Gives answer (475,)

In [ ]:
#Task 8
#Try to find out how many dress is having recommendation as 0
print((attribute_data.recommendation == 0).sum())  #290 such values. In SQL we can write: select count(*) from table name where recommendation = 0

In [ ]:
#Task 9
#Find the total sales for each and every dress id
#Creating Column Total Sales for each Dress ID
dress_sales['Sales'] = dress_sales[['29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        ,'26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013']].agg('sum', axis=1)

#Rolling up at Unique Dress Id Level
print(dress_sales.groupby('dress_id')['Sales'].sum()) #This will provide the rolled up sum of sales of each unique dress_id. Similarily we can do in SQL

In [ ]:
#Task 10
#Try to find out the third highest most selling Dress_ID
sales_data = dress_sales.groupby('dress_id')['Sales'].sum().reset_index().rename(columns={'sum':'Sales','dress_id' : 'dress_id'})
print(sales_data)
print(sales_data.Sales.nlargest(3).iloc[-1]) #Getting 75979 as 3rd largest sum

#If we have to do in SQL then query will be
SELECT DISTINCT SALES AS 3RDHighestSales
FROM DRESS_SALES_TABLE
ORDER BY SALES DESC
LIMIT 1 
OFFSET 2;